<%= @course_open.course_name %> | 
<%= @course_open.course_number %> | 
<%= @course_open.start_time %> | 
<%= @professor_open.name %> | 
<%= @subject_open.subject_name %>

<!-- ENTRY UPDATE FORM -->
<form action="/courses/<%= @course_open.id %>" method="post">
  <input type="text" id="course_name" name="course[course_name]" placeholder="update course" />
  <input type="text" id="course_number" name="course[course_number]" placeholder="update number" />
	<input type="text" id="start_time" name="course[start_time]" placeholder="update time" />
</form>

<!-- ENTRY DELETE FORM -->
<form action="/courses/<%= @course_open.id %>" method="post">
	<input type="hidden" name="_method" value="delete"/>
	<input type="submit" value="Delete"/>
</form>

<a href="/courses">Return to course list</a>