<h1>Available Courses</h1><br>
<br>

<!-- Form to add new course -->
<form action="/courses/new" method="post">
  <input type="text" id="course_name" name="[course]course_name" value="" placeholder="Course Name"/>
  <input type="text" id="course_number" name="[course]course_number" value="" placeholder="Course Number"/>
  <input type="text" id="start_time" name="[course]start_time" value="" placeholder="Start Time"/>
	<select name="professor">
		<% @available_professors.each do |professor_open| %>
			<option value="<%= professor_open.id %>"><%= professor_open.name %></option>
		<% end %>
	</select>
	<select name="subject">
		<% @available_subjects.each do |subject_open| %>
			<option value="<%= subject_open.id %>"><%= subject_open.subject_name %></option>
		<% end %>
	</select>
  <input type="submit">
</form>

<!-- Display list of available courses -->
<ul>
	<% @available_courses.each do |course| %>
	<% professor = Professor.find(course.professor_id) %>
	<% subject = Subject.find(course.subject_id) %>
	<li><%= course.course_name %> | 
			<%= course.course_number %> | 
			<%= course.start_time %> |  
			<%= professor.name %> | 
			<%= subject.subject_name %>

			<a href="/courses/<%= course.id %>/edit">Update</a></li>
	<% end %>
</ul>

